.body{
    flex: 9;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 12px 12px;
    border: 1px solid black;
    margin: -0.5px 5px;
    margin-right: 12px !important;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    z-index: 1;
    color: aliceblue;
    border: 1px solid rgba(31, 60, 18, 0.6);

}

.playlists{
    transition: all 0.3s ease-in-out;
    /* background-color: rgb(19, 53, 45, 0.5); */
    background-color: rgba(81, 131, 177, 0.362);
    border-radius: 20px;
    width: 100%;
    height: 190px;
    display: flex;
    align-items:center;
}

.playlists .banner{
    display: flex;
    align-items:flex-end;
}

.playlists .image > img{
    border-radius: 20px;
    height: 160px;
    padding-top: 2px;
    margin-left: 15px;
    margin-right: 10px;
}

.details{
    padding-left: 10px;
}

.details  .description{
    font-size: 12px;
    padding: 2px;
    margin-top: 2px;
    color: rgb(186, 244, 220);
}

.details  .title{
    font-size: 35px;
    padding: 2px;
    margin-top: 2px;
    color: rgb(186, 244, 220);
}
.details  .type{
    font-size: 16px;
    padding: 2px;
    margin-top: 2px;
    color: rgb(186, 244, 220);
}

.tracks .detail .image > img{
    height: 50px;
}

.songs{
    margin-top: 15px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.header_row{
    /* padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_row .col {
    width: 100px;
    text-align: center;
}

.tracks{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    /* justify-content: space-between; */
    /* align-items: center;    */
}

.tracks .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(81, 131, 177, 0.362);
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color:aquamarine;
}

.tracks .row .detail{
    width: 300px;
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    margin: 5px;
}

.tracks .row .detail .info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    padding: 5px 10px;
}

.tracks .row .detail .info .name{
    font-size: 16px;
    font-weight:200;
}

.tracks .row .col{
    width: 200px;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tracks .row .num{
    width: 30px;
}


