.login{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.login > button{
    padding: 10px;
    margin: 50px;
    border-radius: 99px;
    font-weight: 800;
    color: white;
    background-color: #1db954;
    text-decoration: none;
}

.login > h1{
    color: white;
}